:root{
    --border1: 1px solid #000;
}

*,*::after,*::before{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
    padding: 0;
}

.wrap{
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border: var(--border1);
}

.header p{
    font-size: 1.5em;
}

.recordBtn{
    border: var(--border1);
    padding: 5px 10px;
    font-size: 1.3em;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 50%;
    padding: 20px;
    margin-top: 40px;
    border: var(--border1);
    word-wrap: break-word;
}

.title{
    font-size: 2.3em;
    text-align: center;
}

.introduce{
    font-size: 1.5em;
    word-spacing: 2px;
}

.btn{
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid #000;
    background: #fff;
    color: #000;
    font-weight: 600;
    transition: 0.15s ease-in-out;
}
.btn-hover:hover{
    cursor: pointer;
    background: rgb(176, 176, 176);
    color: #fff;
}

.start-quiz-btn{
    font-size: 1.4em;
    font-weight: 600;
    margin: 0 auto;
    display: block;
}

.quiz-options-btn{
    width: 100%;
    text-align: start;
    font-size: 1.3em;
}

.question h2{
    font-size: 2em;
    margin-bottom: 50px;
}

.options{
    display: flex;
    flex-direction: column;
    width:fit-content;
}

.options li{
    margin-bottom: 30px;
}

.d-none{
    display: none;
}

.correct{
    border: 2px solid #000;
    position: relative;
    background: #00ab03;
    color: #fff;
}
.correct::after{
    width: max-content;
    font-size: 1.2em;
    color: #009603;
    content: 'Correct! O';
    position: absolute;
    left: 120%;
    animation-name: zoomIn;
    animation-duration: 0.3s;
}

.incorrect{
    border: 2px solid #000;
    position: relative;
    background: #ff0000;
    color: #fff;
}
.incorrect::after{
    width: max-content;
    font-size: 1.2em;
    color: #ff0000;
    content: 'Wrong! X';
    position: absolute;
    left: 120%;
    animation-name: zoomIn;
    animation-duration: 0.3s;
}

.all-done,
.high-scores{
    font-size: 1.6em;
    text-align: center;
}

.all-done ul span{
    font-weight: 600;
    color: rgb(39, 55, 183);
}

.submit-initials-form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submit-initials-form label{
    margin-bottom: 20px;
}

.initials{
    border-radius: 8px;
    width: 60%;
    max-width: 330px;
}

.submit-initials-btn{
    display: block;
    margin-top: 20px;
}

.initials-input-alert{
    font-size: 0.8em;
    color: #ff0000;
    margin-top: 5px;
}

.high-scores,
.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scores-list-styling{
    background: rgba(95, 128, 235, 0.687);
    border-radius: 8px;
    padding: 3% 30%;
}

.scores-list{
    overflow-y: auto;
}

.scores-list li{
    text-align: start;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 600;
}
.scores-list li:nth-child(-n + 3){
    color:rgb(230, 62, 196);
}

.high-scores button{
    margin: 10px 15px;
}

.modal-body{
    border-radius: 8px;
    position: absolute;
    border: 1px solid #009603;
    background: rgb(239, 239, 239);
    z-index: 10;
    width: 40%;
    left: 0;
    right: 0;
    top: 10%;
    margin: auto;
    padding-bottom: 20px;
}


.modal-zoom-in{
    animation-name: zoomIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.modal-zoom-out{
    animation-name: zoomOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.modal-body h2{
    text-align: center;
    font-size: 2em;
}
.modal-body footer{
    display: flex;
    justify-content: center;
}

.modal-body footer button{
    margin: 0 15px;
}

.high-records{
    height: 300px;
    width: 300px;
    overflow-y: auto;
    font-size: 1.6em;
    background: rgb(201, 207, 211);
    border-radius: 6px;
    padding: 20px 30px;
}

.overlay{
    position: absolute;
    border: 1px solid #ff0000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(75, 75, 75, 0.763);
}

.clear-records-btn{
    background: rgb(243, 93, 93);
    color: #fff;
}

.disabled{
    background: rgb(184, 184, 184);
    box-shadow: inset 0 0 2px 1px rgb(135, 135, 135);
    color: rgb(255, 255, 255);
    cursor: unset !important;
}

    @keyframes zoomIn{
        0% {transform: scale(0);}
        100% {transform: scale(1);}
    }

    @keyframes zoomOut{
        0% {transform: scale(1);}
        100% {transform: scale(0);}
    }